<link rel="stylesheet" href="/stylesheets/admin/add-product.css">

<div class="addParentDiv" style="padding:150px 85px">
    <h5>Add Coupon</h5>
    <div class="form-div" style="margin-top: 2em;" >

    <form action="/admin/add-coupon" method="post" enctype="multipart/form-data">
        <input type="text" name="couponCode" placeholder="Enter Coupon Code(This is case sensitive)" required>
        <input type="text" name="discountedPercentage" placeholder="Enter discounted percentage(in numbers)" required>
         <input type="submit" value="ADD">
    </form>
    </div>
</div>
