<link rel="stylesheet" href="/stylesheets/header.css">
<link rel="stylesheet" href="/stylesheets/responsive.css">

<div class="navbar">
        <div class="nav-items">

        <div class="nav-brand">
        <h2><a href="/" class="links">basic<span>ally</span>.</a></h2>
        </div>
        <div class="nav-options">
            <ul>
                <li><a class="links">Home</a></li>
                <li><a class="links">View Orders</a></li>
                <li><a class="links">Coupons</a></li>
            </ul>
        </div>
        <div class="nav-user">
            <ul>
                <li><a href="/accounts" class="links"><i style="margin-top: 5px;" class="las la-user-check" ></i></a></li>
                <li><a href="/accounts" class="links"><i class="las la-user" ></i></a></li>
            </ul>
        </div>
        
        
    </div>
</div>