<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="/stylesheets/responsive.css">

<footer>
<div class="footer-div" id="footer-div">
    <div class="contact-div mob-view mob-contact">
            <h2>Get allied with us!</h2>
            <form action="">
                <div class="input">
                    <input type="text" placeholder="name@gmail.com">
                    <input type="submit" value="Join">
                </div>
            </form>
            
        </div>
        <div class="mob-opts">
            <div class="options-div" style="padding-top: 11em;">
                <div class="opts"><h2>Policies</h2></div>
                <div class="icon"><button onclick="showFooterOpts(this)" id="policyShowBtn" ><i class="fa-solid fa-chevron-down"></i></button></div>
                <div class="icon"><button onclick="hideFooterOpts(this)" id="policyHideBtn" ><i class="fa-solid fa-chevron-up"></i></button></div>
                <div id="policyOpts" style="height: 128px;">
                <ul>
                   <li><a href="/privacy-policy">Privacy Policy</a></li>
                   <li><a href="/return-policy">Return Policy</a></li>
                   <li><a href="/shipping-policy">Shipping Policy</a></li>
                   <li><a href="/terms&conditions">Terms & Conditions</a></li>
                </ul>
                </div>
                <hr>
            </div>
            <div class="options-div" >
                <div class="opts"><h2>Help</h2></div>
                <div class="icon"><button onclick="showFooterOpts(this)" id="helpShowBtn" ><i class="fa-solid fa-chevron-down"></i></button></div>
                <div class="icon"><button onclick="hideFooterOpts(this)" id="helpHideBtn" ><i class="fa-solid fa-chevron-up"></i></button></div>
                <div id="helpOpts" style="height: 100px;">
                <ul>
                <li><a href="/return-replace">Request Return/Replace </a></li>
                <li><a>Phone:+91-7594842304</a></li>
                <li><a href="mailto:support@thebasically.in">support@thebasically.in</a></li>                
                </ul>
                </div>
                <hr>
            </div>
            <div class="options-div">
                <div class="opts"><h2>About</h2></div>
                <div class="icon"><button onclick="showFooterOpts(this)" id="abtShowBtn" ><i class="fa-solid fa-chevron-down"></i></button></div>
                <div class="icon"><button onclick="hideFooterOpts(this)" id="abtHideBtn" ><i class="fa-solid fa-chevron-up"></i></button></div>
                <div id="aboutOpts" style="height: 50px;">
                <ul>
                <li><a href="">About Us </a></li>
                <li><a href="">Transparency</a></li>
                </ul>
                </div>
                <hr>
            </div>
            <div class="help-div"></div>
            <div class="about-div"></div>
        </div>
        <div class="des-opts">
        <div class="policy-div">
            <h2>Policies</h2>
            <ul>
               <li><a href="/privacy-policy">Privacy Policy</a></li>
                   <li><a href="/return-policy">Return Policy</a></li>
                   <li><a href="/shipping-policy">Shipping Policy</a></li>
                   <li><a href="/terms&conditions">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="help-div">
            <h2>Help</h2>
            <ul>
                <li><a href="">Request Return/Replace </a></li>
                <li><a href="">Phone:+91-7594842304</a></li>
                <li><a href="">support@thebasically.in</a></li>
            </ul>
        </div>
        <div class="about-div">
            <h2>About</h2>
            <ul>
                <li><a href="">About Us </a></li>
                <li><a href="">Transparency</a></li>
            </ul>
        </div>
        <div class="contact-div">
            <h2>Get allied with us!</h2>
            <form action="">
                <div class="input">
                    <input type="text" placeholder="name@gmail.com">
                    <input type="submit" value="Join">
                </div>
            </form>
            <div class="social-media">
                <a href=""><i class="lab la-facebook-f"></i></a>
                <a href="" class="social-links"><i class="lab la-whatsapp"></i></a>
                <a href="" class="social-links"><i class="lab la-instagram"></i></a>
            </div>
        </div>
        </div>
        <div class="copyright">
            <h4><i class="las la-copyright"></i> thebasically.in 2022.</h4>
        </div>
</div>
</footer>