<link rel="stylesheet" href="/stylesheets/carousel.css">
<div id="homeParentDiv">

<section class="hero-section">
<div class="hero" id="hero"></div>
<div class="hero-content" id="hero-content">
    <div class="content">
    <h3>Introducing</h3>
    <h1>The Premium-Weight Crew</h1>
    <h2>Made from American grown SUPIMA Cotton.</h2>
    <div class="buttons">
     <div class="">
            <button class="shop-btn" onmouseover="shopBtnHover(this)" onmouseout="shopBtnOut(this)"><a href="" class="shop-link">Shop Now</a></button>
        </div>
        <div class="">
             <button class="more-btn" onmouseover="moreBtnHover(this)" onmouseout="moreBtnOut(this)"><a href="" class="more-link">Learn More</a></button>
        </div>
    </div>
 </div>
</div>
</section>
<section class="collections" id="collections">
    <div class="options">

    <h4 class="collection-text">SHOP</h4>
    <div class="btns" data-btns>
        <button data-prev-btn class="prev-btn" onclick="prevBtnClicked(this,'prem')"><i class="fa-solid fa-chevron-left"></i></button>
        <button data-next-btn class="next-btn" onclick="nextBtnClicked(this,'prem')"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    </div>
    <div id="prem-product-cards" class="product-cards">
  
        
        <div class="product-card">
            <img src="/images/black-premium.jpg" alt="">
            <div class="product-details">
                <h5 class="product-name"><a href="">The Premium-Weight Crew SUPIMA</a></h5>
                <h5 class="product-color"><i class="fa-solid fa-circle" style="color: #000;"></i><span>Black</span></h5>
            </div>
        </div>
        <div class="product-card">
            <img src="/images/white-premium.jpg" alt="">
            <div class="product-details">
                <h5 class="product-name"><a href="">The Premium-Weight Crew SUPIMA</a></h5>
                <h5 class="product-color"><i class="fa-solid fa-circle" style="color: #fff;"></i><span>White</span></h5>
            </div>
        </div>
        <div class="product-card">
            <img src="/images/ivory-premium.jpg" alt="">
            <div class="product-details">
                <h5 class="product-name"><a href="">The Premium-Weight Crew SUPIMA</a></h5>
                <h5 class="product-color"><i class="fa-solid fa-circle" style="color:#fbf9df ;"></i><span>Ivory</span></h5>
            </div>
        </div>
        <div class="product-card">
            <img src="/images/emerald-blue-premium.jpg" alt="">
            <div class="product-details">
                <h5 class="product-name"><a href="">The Premium-Weight Crew SUPIMA</a></h5>
                <h5 class="product-color"><i class="fa-solid fa-circle" style="color: #087f73;"></i><span>Emerald Blue</span></h5>
            </div>
        </div>
        <div class="product-card">
            <img src="/images/petrol-blue-premium.jpg" alt="">
            <div class="product-details">
                <h5 class="product-name"><a href="">The Premium-Weight Crew SUPIMA</a></h5>
                <h5 class="product-color"><i class="fa-solid fa-circle" style="color: #06458d;"></i><span>Petrol Blue</span></h5>
            </div>
        </div>
        
        
        
    </div>

</section>
<section>
<div class="hero-2">
<div class="hero-content">
    <div class="content">
    <h3>New Arrival</h3>
    <h1>The LightWeight Crew</h1>
    <h2>Explore the perfect summer essentials</h2>
    <div class="buttons">
        <div class="">
            <button class="shop-btn" onmouseover="shopBtnHover(this)" onmouseout="shopBtnOut(this)"><a href="" class="shop-link">Shop Now</a></button>
        </div>
        <div class="">
             <button class="more-btn" onmouseover="moreBtnHover(this)" onmouseout="moreBtnOut(this)"><a href="" class="more-link">Learn More</a></button>
        </div>

    </div>
    <h4>Made with TENCEL Lyocell</h4>
    </div>
 </div>
</div>
</section>
<section class="collections">
    <div class="options">

    <h4 class="collection-text">SHOP</h4>
    <div class="btns" data-btns>
        <button data-prev-btn class="prev-btn" onclick="prevBtnClicked(this,'light')"><i class="fa-solid fa-chevron-left"></i></button>
        <button data-next-btn class="next-btn" onclick="nextBtnClicked(this,'light')"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    </div>
    <div id="light-product-cards" class="product-cards">
  
        
        
        <div class="product-card">
            <img src="/images/inkpot-ltwt.jpg" alt="">
            <div class="product-details">
                <h5 class="product-name"><a href="">The Leightweight Crew TENCEL</a></h5>
                <h5 class="product-color"><i class="fa-solid fa-circle" style="color:#063e7e ;"></i><span>InkPot</span></h5>
            </div>
        </div>
        <div class="product-card">
            <img src="/images/white-ltwt.jpg" alt="">
            <div class="product-details">
                <h5 class="product-name"><a href="">The Leightweight Crew TENCEL</a></h5>
                <h5 class="product-color"><i class="fa-solid fa-circle" style="color: #fff;"></i><span>White</span></h5>
            </div>
        </div>
        <div class="product-card">
            <img src="/images/olive-ltwt.jpg" alt="">
            <div class="product-details">
                <h5 class="product-name"><a href="">The Leightweight Crew TENCEL</a></h5>
                <h5 class="product-color"><i class="fa-solid fa-circle" style="color: #808000;"></i><span>Olive</span></h5>
            </div>
        </div>
        <div class="product-card">
            <img src="/images/arabica-ltwt.jpg" alt="">
            <div class="product-details">
                <h5 class="product-name"><a href="">The Leightweight Crew TENCEL</a></h5>
                <h5 class="product-color"><i class="fa-solid fa-circle" style="color:  #6f4d3f;"></i><span>Arabica</span></h5>
            </div>
        </div>
        
        
        
    </div>

</section>
<section class="transparency-section">
     <div class="transparency-text">
        <h4>TRANSPARENCY</h4>
     </div>
     <div class="learn-more">
        <div><a href="" class="more-link">LEARN MORE <i class="fa-solid fa-chevron-right" style="margin-left: .5em;"></i></a></div>
     </div>
</section>
<section class="about-section">
    <h4 class="about-heading">About Us</h4>
     <div class="about-grids">
        <div class="about-grid">
            <img src="/images/slim-fashion-abt.jpg" alt="">
            <div class="about-descriptions">
                <h5 class="about"><a href="">SLOW FASHION</a></h5>
                <h5 class="description slwfshn-description slwfshn-des">Quality is chosen over quantity.We chose the finest and most rare <span>raw materials to create long lasting products</span></h5>
                <div class="read-more slow-read-more" ><a href="" class="more-link" >READ MORE</a></div>
            </div>
        </div>
        <div class="about-grid">
            <img src="/images/sustainable-basics.jpg" alt="">
            <div class="about-descriptions" style="margin-left: 2.5em;">
                <h5 class="about sust-about"><a href="">SUSTAINABLE BASICS</a></h5>
                <p class="description">Fashion is a carefully crafted product. It's not just something you <span style="margin-left: 40px;">can pick up at the store—it's a unique experience.</span><br><span style="margin-left: 70px;">That's why we believe in timeless fashion.</span></p>
                <div class="read-more sust-read-more" style="padding-left: 9.5em;"><a href="" class="more-link">READ MORE</a></div>
            </div>
        </div>
     
     </div>
</section>
<section class="mob-abt-section">
    

    <h4 class="about-text">About us</h4>
   
    <div class="about-items">
  
        
        
        <div class="about-item">
            <img src="/images/sustainable-basics.jpg" alt="">
            <div class="about-description">
                <h5 class="about">SLOW FASHION</h5>
                <h5 class="description">Quality is chosen over quantity.We chose the finest and most <br> rare raw materials to create long lasting products</h5>
                <div class="read-more" ><a href="" class="more-link" >READ MORE</a></div>
            </div>
        </div>
        <div class="about-item">
            <img src="/images/slim-fashion-abt.jpg" alt="">
            <div class="about-description">
                <h5 class="about">SUSTAINABLE BASICS</h5>
                <h5 class="description">Fashion is a carefully crafted product. It's not just something you can  pick up at the store—it's a unique experience.That's why we believe in timeless fashion.</h5>
                <div class="read-more" ><a href="" class="more-link" >READ MORE</a></div>
            </div>
        </div>
     
    </div>

</section>
<section class="page-content" id="content">
    <div class="quote">
        <h1 class="first-line">Buy Less,</h1>
        <h1 class="second-line">choose well,</h1>
        <h1 class="third-line">make it last.</h1>
        <h5>-Vivian Westwood-</h5>
    </div>
</section>
<section class="our-story">
    <img src="/images/our story.jpg" alt="">
     <div class="opts">
           <h5 class="opt">OUR STORY</h5>
            <div class="to-link"><a href="" class="more-link">READ MORE  <i class="fa-solid fa-chevron-right"></i></a></div>
    </div>
</section>
<div class="instagram">
    <div class="embedsocial-hashtag" data-ref="ae859740f8646c31ea1cb10bfb11cbff10399179"> 
        <a class="feed-powered-by-es feed-powered-by-es-feed-new" href="#" target="_blank" title="Widget by EmbedSocial" style="color: #fff;" aria-disabled="true"> Widget by EmbedSocial<span>→</span> </a> </div>
</div>

</div>
<script> 
    (function(d, s, id) { 
    var js;
    if (d.getElementById(id)) {return;} 
    js = d.createElement(s);
    js.id = id;
    js.src = "https://embedsocial.com/cdn/ht.js"; 
    d.getElementsByTagName("head")[0].appendChild(js); }
    (document, "script", "EmbedSocialHashtagScript")); 
    </script>