
@media only screen and  (max-width:991px){
    .hero-section{
        height: 1760px;
    }
    .hero{
        background: url('/images/home-mob.jpg');
        position: absolute;
        height: 1750px;
        aspect-ratio: 9/16;
    }
    .hero-content{
        width: 100%;
        float: left;
        z-index: 2;
        padding-top: 45em;
    }
    .hero .hero-content .content{
        text-align: center;
    }
    .hero-content .content h3{
        margin-left: 255px;
        font-size: 30px !important;
        margin-top: 3em;
    }
    .hero-content h1{
        font-size: 80px;
    }
    .hero-content .content h2{
        margin-top: 0.2em;
        font-weight: 400;
        font-size: 35px;
        margin-left: 10px;
    }
    .hero-content .content .shop-link{
        bottom: -330px;
        left: 46%;
    }
    .hero-content .content .shop-link a{
        font-size: 32px;
    }
    .hero .hero-content{
        padding-top: 60em;
    }
    
}
@media only screen and (min-width: 200px) and (max-width: 1250px){
    .mobile-nav{
        display: block;
    }
    .navbar{
        display: none;
    }
    .mob-view{
        display: block !important;
    }
    .footer-div{
        padding-left: 40px;
        padding-right: 40px;
        height: 520px;
    }
    .cartParentDiv .hiddenDiv{
        display: none;
    }
    .cartParentDiv .showableDiv{
        width: 100%;
        height: 100%;
    }
    .cartParentDiv .showableDiv .login-redirect{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cartParentDiv .showableDiv .login-redirect h5{
        font-size: 27px;
        font-weight: 600;
    }
    .cartParentDiv .showableDiv .login-redirect .btns{
        display: flex;
        justify-content: center;
        margin-top: 4em;   
    }
    .cartParentDiv .showableDiv .login-redirect .btns a{
        background: #333;
        padding: 20px 50px;
        border: none;
        outline: none;
        color: #fff;
        font-size: 24px;
        font-family: inherit;
        
    }
    .cartParentDiv .showableDiv .header{
        height: 45px;
    }
    .cartParentDiv .showableDiv .header .cart-items h5{
        font-size: 36px;
    }
    .cartParentDiv .showableDiv .header .close-btn{
        right: 20px;
    }
    .cartParentDiv .showableDiv .header .close-btn button{
        font-size: 46px;
    }
    .cartParentDiv .showableDiv .cart-products .empty-cart h5{
       font-size: 30px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items{
        height: 260px;
        gap: 3em;
        grid-auto-columns: 20% 50% 33%;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .pro-img{
        height: 250px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .pro-img img{
        height: 250px;
        width: 225px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .cart-pro-details{
        margin-left: 2em;


    }
    .cartParentDiv .showableDiv .cart-products .cart-items .cart-pro-details .pro-name{
        font-size: 34px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .cart-pro-details .pro-color{
        font-size: 30px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .cart-pro-details .pro-size{
        font-size: 30px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .cart-pro-details .pro-quantity{
        margin-top: 1em;
        width: 150px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .cart-pro-details .pro-quantity .btns{
        padding: 10px 20px;
        height: 55px;
        font-size: 34px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .cart-pro-details .pro-quantity .number{
        font-size: 32px;
        padding: 4px 25px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .item-details .delete-pro{
        top: -10px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .item-details .delete-pro button{
        font-size: 55px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .item-details .price{
        padding-top: 7em;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .item-details .price h5{
        font-size: 32px;
    }
    .cartParentDiv .showableDiv .cart-products .cart-items .item-details .price h5 span{
        font-size: 34px;

    }
    .cartParentDiv .showableDiv .total-div{
        bottom: 330px;
    }
    .cartParentDiv .showableDiv .total-div .totals{
        width: 95%;
    }
    .cartParentDiv .showableDiv .total-div .totals .total .text{
        font-size: 30px;
    }
    .cartParentDiv .showableDiv .total-div .totals .total .price{
        font-size: 28px;
    }
    .cartParentDiv .showableDiv .total-div .totals .total .price span{
        font-size: 30px;
    }
    .cartParentDiv .showableDiv .total-div .final-total .text{
        font-size: 35px;
    }
    .cartParentDiv .showableDiv .total-div .final-total .price{
        font-size: 30px;
    }
    .cartParentDiv .showableDiv .total-div .final-total .price span{
        font-size: 32px;
    }
    .cartParentDiv .showableDiv .checkout-btn{
        bottom: 60px;
    }
    .cartParentDiv .showableDiv .checkout-btn a{
        padding: 25px 0;
        width: 95%;
        border-radius: 55px;
        font-size: 28px;
    }


    .mob-contact{
        width: 100% !important;
        margin-bottom: 3em;
    }
    .footer-div .contact-div{
        display: none;
    }
    .footer-div .contact-div .social-media{
        display: none;
    }
    .footer-div .contact-div h2{
        font-size: 24px;
    }
    .footer-div .contact-div .input input[type='text']{
        border-radius: 40px 0px 15px 40px;
        font-size: 20px;
    }
    .footer-div .contact-div .input input[type='submit']{
        border-radius: 0px 40px 40px 0px;
        font-size: 20px;
        padding: 22px !important;
    }
    .footer-div .copyright h4{
        margin-top: 1em;
    }
    .footer-div .mob-opts{
        display: block;
      }
    .footer-div .des-opts{
        display: none;
      }
    .chat-widget .chat-btn .chat-txt{
        display: none;
    }
    .chat-widget .chat-btn{
        padding:10px 15px ;
    }
    
    .collections{
        padding: 60px 45px;
        height: 1100px;
    }
    
    .collections .product-cards{
       margin-top: 5em;

    }
    
    .collections .btns{
        display: none;
    }
    .collections .product-cards .product-card{
        height: 1000px;
    }
    .collections .product-cards .product-card img{
        height: 830px;
        width: 725px;
    }
    .collections .product-cards .product-card{
        width: 750px;
    }
    .collections .product-cards .product-card .product-details{
        height: auto;
        margin-top: 20px;
    }
    .collections .product-cards .product-card .product-details .product-name a{
        font-size: 35px;
        margin-top: 0;
    }
    .collections .product-cards .product-card .product-details .product-color{
        margin-top: 0;
        font-size: 32px;
    }
    .collections .product-cards .product-card .product-details .more-colors p {
        margin-top: 15px;
        font-size: 20px;
        color: #817f7f;
    }
    .collections .product-cards .product-card .product-details .colors{
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        margin-top: 1em;
        width: 100%;
      }
      .collections .product-cards .product-card .colors a{
        background: none;
        border: none;
        margin-left: .5em;
        text-decoration: none;
      }
      .collections .product-cards .product-card .colors a[data-selected]{
        border: 3px solid #000;
        border-radius: 25px;
        padding: 3px 4px 3px 5px;
        margin-top: -6px;
      }
      .collections .product-cards .product-card .colors a i{
        font-size: 32px;
      }
      .collections .product-cards .product-card .colors .product-color{
         color: #000;
         font-size:32px;
         margin-left: 10px;
         font-weight: 400;
      }
      .collections .product-cards .product-card .mob-colors{
          display: block;
        }
        .collections .product-cards .product-card .des-colors{
            display: none;
        }
      .collections .product-cards .product-card .product-details .colors button i:hover{
        transform: scale(0.9);
      }
      .collections .collection-text{
        font-size: 55px;
      }
    
      
    .transparency-section .learn-more{
        width: 25%;
        padding: 20px;
    }
    .transparency-section .more-link{
        font-size: 28px;
    }
    .page-content {
        margin-top: 10em;
    }
    .about-section{
        display: none;
    }
    .mob-abt-section{
        display: block;
    }

    .our-story{
        height: 550px;

    }
    .our-story img{
        height: 550px;
    }

    .return-policy{
        padding-top: 1.1em;
        padding-bottom: 1em;
    }
    .return-policy h5{
        font-size: 30px;
    }
    .productParentDiv{
        padding: 55px;
        margin-right: 25px;
    }
    
    .products{
        display: block;
        height: 2050px;
    }
    .des-pro-image{
        display: none;
    }
    .mob-carousel-section{
        display: block;
        margin: -27px -80px;
        height: 1320px;
    }

    .pro-details{
        width: 100%;
        padding: 10px;
        height: 980px;
    }
    .pro-details .name{
        font-size: 50px;
    }
    .pro-details .price{
        margin-top: .5em;
        font-size: 38px;
    }
    .pro-details .price span{
        font-size: 42px;
    } 
    .pro-details .color-div{
        padding-top: 2em;
    }
    .pro-details .color-div .pro-color{
        font-size: 32px;
    }
    .pro-details .color-div .colors .buttons a[data-selected]{
        padding: 23px 4px 5px 5px ;
        border: 3px solid #000;
    }
    .pro-details .color-div .colors .buttons a i{
        font-size: 40px;
    }
    .pro-details .size-section{
        margin-top: 3em;
    }
    .pro-details .size-section a{
        font-size: 35px;
    }
    .pro-details .size-section .size-div .size-text h5{
        font-size: 32px;
    }
    .pro-details .size-section .size-div .sizes{
        right: 40px;
        width: 68%;
    }
    .pro-details .add-to {
        margin-top: 4em;
        height: 145px;
        width: 100%;
        /* text-align: left; */
    }
    .pro-details .add-to button{
        margin-left: 10px;
        width: 100%;
        padding: 25px 185px;
        border-radius: 55px;
        font-weight: 500;
        font-size: 40px;
        position: relative;
        font-family: inherit;
        text-transform: capitalize;
    }
                
    .pro-details .size-section .size-div .sizes button{
        padding: 10px 35px;
        border-radius: 35px;
        font-size: 28px;
    }
    .pro-details .less-description{
        margin-top: 4em;
        width: auto;
        text-align: left;
    }
    .pro-details .less-description p{
        font-size: 35px;
        line-height: 50px;
    }
    .product-details {
        height: 1150px;
        margin-top: 3em;
    }
    .product-details h5{
        font-size: 40px;
    }
    .product-details .details-div{
        height: 1390px;
        grid-template-columns: 100%;
    }
    .product-details .details-div .about-product .options .option{
        margin-left: 7em;
    }
    .product-details .details-div .about-product .options .option h5{
        font-size: 35px;
    }
    .product-details .details-div .image-div{
        display: none;
    }
    .product-details .details-div .about-product .details-options-div{
        height: 1262px;
    }
    .product-details .details-div .about-product .details-options-div .subheadings{
        font-size: 35px;
    }
    .product-details .details-div .about-product .details-options-div .subdetails{
        font-size: 35px;
    }
    .product-details .details-div .about-product .details-options-div ul li{
        font-size: 35px;
    }
    
    .our-ethics-section {
        margin-top: 1em;
        height: 990px;
        width: 105%;
    }
    .our-ethics-section .logo img{
        width: 300px;
        margin-top: 7em;
        margin-bottom: -1em;
    }

    .our-ethics-section h5{
        font-size: 36px;
    }
    .our-ethics-section .item-grids{
        overflow-x: scroll;
        margin-right: 69px;
        grid-template-columns: 65% 65% 65%;
    }
    .our-ethics-section .item-grid .item-description .sub-heading{
        font-size: 28px;
    }
    .our-ethics-section .item-grid .item-description .ethics-description{
        font-size: 24px;
    }
    .our-ethics-section .item-grid .item-description a{
        font-size: 24px;
    }
    .clothing {
        margin-top: 13em;
        padding: 70px;
        background: rgb(250, 250, 250);
        height: 1050px;
    }
    .clothing .mob-heading{
        display: block;
        margin-bottom: 4em;
    }
    .clothing .mob-heading h5{
        font-size: 40px;
        font-weight: 600;
        
    }
    .clothing .img-div{
        display: flex;
        justify-content: center;

    }
    .clothing img{
        height: 960px;
        position: relative;
        right: -20px;
    }
    .clothing .description{
        display: none;
    }
    .insta-section{
      height: 1075px;
    }
    .insta-section .texts{
        display: block;
    }
    .insta-section .texts .heading h6{
        font-size: 40px;
    }
    .insta-section .texts .ig{
        position: relative;
        margin-top: 2em;
        right: 0;
    }
    .insta-section .texts .ig h6 a{
        font-size: 30px;
    }
    .insta-section .texts .ig h6 i{
        font-size: 38px;
        margin-right: 24px;
    }
    .insta-section .insta-grids{ 
       width: 105%;
        gap: 2em;
    }
    .insta-section .insta-grids .insta-imgs img{
        width: 830px;
    }
    .checkoutParentDiv{
        padding: 0 0 0 85px !important;
        height: 3250px !important;
    }
    .swal2-popup {
        font-size: 2rem;
    }
    .checkoutParentDiv .windows .leftWindow .redirected{
        font-size: 30px !important;
    }
    .checkoutParentDiv .form-div input[type='text'] {
        width: 620px;
        font-size: 30px;
        padding: 20px;
    }
    .checkoutParentDiv .form-div input[type='submit']{
        padding: 15px 15px;
        height: 85px;
        font-size: 26px;
        width: 115px;
    }
    .checkoutParentDiv .windows{
        display: block !important;
    }
    .checkoutParentDiv .windows .leftWindow .shipping-options h4{
        font-size: 35px !important;
    }
    .checkoutParentDiv .windows .leftWindow .shipping-options form .input input{
        height: 80px !important;
        font-size: 32px !important;
        padding: 35px 20px 5px 20px !important;
    }
    .checkoutParentDiv .windows .leftWindow .shipping-options form .input label{
        font-size: 32px !important;
        bottom: 4.5em !important;
        left: 20px;
    }
    .checkoutParentDiv .windows .leftWindow .shipping-options form .input .double-inputs{
        display: block !important;
    }
    .checkoutParentDiv .windows .leftWindow .shipping-options form .input .double-inputs .input{
        width: 100% !important;
    }
    .checkoutParentDiv .windows .leftWindow .checkout-options{
        padding-bottom: 3em !important;
        margin-top: 2em !important;
        height: 370px !important;
    }
    .checkoutParentDiv .windows .leftWindow .checkout-options h6{
        font-size: 35px !important;
    }
    .checkoutParentDiv .windows .leftWindow .checkout-options .options-box{
        height: 340px;
    }
    .checkoutParentDiv .windows .leftWindow .checkout-options .options-box .options{

       max-height: 80px;
       width: 95%;
    }
    .checkoutParentDiv .windows .leftWindow .checkout-options .options-box .cod{
        max-height: 135px;
    }

    .checkoutParentDiv .windows .leftWindow .checkout-options .options .input input[type="radio"]{
        height: 40px !important;
        margin-top: 20px;
    }
    .checkoutParentDiv .windows .leftWindow .checkout-options .options-box .options .option{
        padding-top: 22px;
    }
    .checkoutParentDiv .windows .leftWindow .checkout-options .options-box .options .option h5{
        font-size: 32px;
    }
    .checkoutParentDiv .windows .leftWindow .checkout-options .options-box .options .total h5{
        font-size: 28px;
    }
    .checkoutParentDiv .windows .leftWindow .checkout-options .options-box .options .total h5 span{
        font-size: 30px;
    }
    .checkoutParentDiv .windows .leftWindow .shipping-options .input .btns button{
        position: relative !important;
        width: 100% !important;
        margin-top: 1em !important;
        font-size: 32px !important;
    }
    .checkoutParentDiv .windows .rightWindow{
        display: none;
    }
    .checkoutParentDiv .windows .leftWindow .order-summary{
        display: block !important;
    }
    .checkoutParentDiv .windows .leftWindow  .COD-caution{
        font-size: 26px;
    }

    .accountsParentDiv .accounts-heading{
        font-size: 40px;
    }
    .accountsParentDiv .windows{
        grid-auto-flow: row;
        grid-template-columns: none;
    }
    .accountsParentDiv .windows .leftWindow ul li{
        width: 100%;
        font-size: 26px;
        padding: 10px 15px;
    }
    .accountsParentDiv .windows .leftWindow ul li i{
        font-size: 38px;
    }
    .accountsParentDiv .windows .leftWindow ul #acntsDetail i{
        font-size: 34px;
    }
    .accountsParentDiv .windows .leftWindow ul #acntsOut i{
        font-size: 28px;
    }
    .accountsParentDiv .windows .rightWindow .mainHeading{
        font-size: 28px;
    }
    .accountsParentDiv .windows .rightWindow .heading-div .subHeading{
           font-size: 22px;
    }
    .accountsParentDiv .windows .rightWindow .info .qoute-div h5{
        font-size: 18px;
    }
    .accountsParentDiv .windows .rightWindow .info .form-div .inputs{
        display: block;
    }
    .accountsParentDiv .windows .rightWindow .info .form-div .input{
        width: auto !important;
        margin-top: 1em;
        font-size: 18px;
        
        
    }
    .accountsParentDiv .windows .rightWindow .info .form-div .input input{
        font-size: 20px !important;
        width: 90% !important;
    }
    .accountsParentDiv .windows .rightWindow .info .form-div .input input[type='submit']{
        width: 30% !important;
    }
    .accountsParentDiv .windows .rightWindow .orders .pro-details .pro-name{
        font-size: 24px;
    }
    .accountsParentDiv .windows .rightWindow .orders .pro-details .pro-about{
        font-size: 18px;
    }
    .accountsParentDiv .windows .rightWindow .orders .pro-details .order-status{
        font-size: 18px;
    }
    .accountsParentDiv .windows .rightWindow .orders .pro-price .price{
        font-size: 22px;
    }
    .accountsParentDiv .windows .rightWindow .orders .pro-price .price span{
        font-size: 24px;
    }
    .accountsParentDiv .windows .rightWindow .logout-div h5{
        font-size: 30px;
    }
    .accountsParentDiv .windows .rightWindow .logout-div .btns{
        width: 280px;
    }
    .accountsParentDiv .windows .rightWindow .logout-div .btns button{
        font-size: 26px;
    }
    .accountsParentDiv .windows .rightWindow .logout-div .btns button a{
        font-size: 26px;

    }
    .loginParentDiv .loginDiv{
        width: 45em;
        min-width: 30em;
    }
    .loginParentDiv .loginDiv .header .logo h2 a{
        font-size: 55px;
    }
    .loginParentDiv .loginDiv .inputs .name-inputs{
        display: block;
    }
    .loginParentDiv .loginDiv .inputs input{
        padding: 20px;
        width: 95%;
        font-size: 25px;
    }
    .loginParentDiv .loginDiv  a{
        font-size: 22px;
    }
    .loginParentDiv .loginDiv  input[type='submit']{
        width: 33em;
        font-size: 22px;
    }
    .loginParentDiv .loginDiv  .signup-div h5{
        font-size: 20px;
    }
    






}