<link rel="stylesheet" href="/stylesheets/accounts.css">


<div class="accountsParentDiv">
    <h5 class="accounts-heading">
        My Account
    </h5>
    <div class="windows">
        <div class="leftWindow">
            <ul>
                <li id="acntsDetail" onclick="changeAcntsOpts(this)" style="margin-left: 5px; " class="activeAcnts"><i class="fa-solid fa-circle-user"></i><span>My Details</span></li>
                <li id="acntsOrder" onclick="changeAcntsOpts(this)"><i class="las la-shopping-bag"></i> <span>My Orders</span></li>
                <li id="acntsOut" onclick="changeAcntsOpts(this)" style="margin-left: 5px;"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span>Logout</span></li>
            </ul>
        </div>
        <div class="rightWindow">
            <div class="options activeAcntsOpts" id="detailsDiv">
                <h5 class="mainHeading">My Details</h5>
                <div class="heading-div">
                    <h5 class="subHeading">Personal Information</h5>
                </div>
                <div class="info">
                    <div class="qoute-div">
                        <h5>Assertively utilize adaptive customer service for future-proof platforms.Review and update your account details.</h5>
                    </div>
                    <div class="form-div">
                        <div class="inputs">
                            <div class="input">
                               <label for="">FIRST NAME</label>
                               <input type="text" value="Rishal">
                            </div>
                            <div class="input">
                               <label for="">LAST NAME</label>
                               <input type="text" value="Richu">
                            </div>
                        </div>
                        <div class="input" style="margin-top: 1em;">
                           <label for="">E-MAIL</label>
                           <input style="width: 85%;" type="email" value="rishal454554@gmail.com">
                        </div>
                        <div class="input" style="margin-top: 1em;">
                           <input type="submit" value="SAVE">
                        </div>

                    </div>                   
                </div>
            </div>
            <div class="options" id="ordersDiv">
                <h5 class="mainHeading">My Orders</h5>
                <div class="heading-div" style="padding-bottom: 0;"></div>
                <div class="orders">
                    <div class="pro-img">
                        <img src="/images/arabica-ltwt.jpg" alt="">
                    </div>
                    <div class="pro-details">
                        <h5 class="pro-name">The Lightweight Crew</h5>
                        <h5 class="pro-about">Color : <span>Arabica</span></h5>
                        <h5 class="pro-about">Size : <span>S</span></h5>
                        <h5 class="pro-about">Quantity : <span>1</span></h5>
                        <h5 class="order-status">Shipped on 24-5-2023 at 4:30PM from Bangalore</h5>
                    </div>
                    <div class="pro-price">
                         <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span>855</span></h5>
                        
                    </div>
                </div>
                <div class="orders">
                    <div class="pro-img">
                        <img src="/images/arabica-ltwt.jpg" alt="">
                    </div>
                    <div class="pro-details">
                        <h5 class="pro-name">The Lightweight Crew</h5>
                        <h5 class="pro-about">Color : <span>Arabica</span></h5>
                        <h5 class="pro-about">Size : <span>S</span></h5>
                        <h5 class="pro-about">Quantity : <span>1</span></h5>
                        <h5 class="order-status">Shipped on 24-5-2023 at 4:30PM from Bangalore</h5>
                    </div>
                    <div class="pro-price">
                         <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span>855</span></h5>
                        
                    </div>
                </div>
                <div class="orders">
                    <div class="pro-img">
                        <img src="/images/arabica-ltwt.jpg" alt="">
                    </div>
                    <div class="pro-details">
                        <h5 class="pro-name">The Lightweight Crew</h5>
                        <h5 class="pro-about">Color : <span>Arabica</span></h5>
                        <h5 class="pro-about">Size : <span>S</span></h5>
                        <h5 class="pro-about">Quantity : <span>1</span></h5>
                        <h5 class="order-status">Shipped on 24-5-2023 at 4:30PM from Bangalore</h5>
                    </div>
                    <div class="pro-price">
                         <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span>855</span></h5>
                        
                    </div>
                </div>
            </div>
            <div class="options" id="logoutDiv">
                <h5 class="mainHeading">Logout</h5>
                <div class="heading-div" style="padding-bottom: 0;"></div>
                <div class="logout-div">
                    <div class="">

                    <h5>Are you sure?</h5>
                    </div>
                    <div class="btns">
                        <button><a href="">Yes</a></button>
                        <button>No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>