<link rel="stylesheet" href="/stylesheets/login.css">

<div class="loginParentDiv">
    <div class="loginDiv">
        <div class="header">
            <div class="logo">
                <h2><a href="/" class="link">basic<span>ally</span>.</a></h2>
            </div>

        </div>
        <div class="form-div">
            <form action="/forgot-password" method="post" id="forgotForm">
                <div class="inputs">
                {{#if accErr}}
                <input type="email" name="email" placeholder="Email address" style="border: 1px solid rgb(245, 54, 54);color:1px solid rgb(245, 54, 54) ;margin-bottom: .5em;" required>
                <p class="danger-text">No accounts found</p>
                {{else}}
                <input type="email" name="email" placeholder="Email address" required>
                {{/if}}
                <input type="password" name="password" placeholder="Password" minlength="8" required>
                </div>
                <div class="btn">
                    <input type="submit" value="Change Password">

                </div>

            </form>
        </div>
        
    </div>
</div>


