<link rel="stylesheet" href="/stylesheets/login.css">

<div class="loginParentDiv">
    <div class="loginDiv">
        <div class="header"></div>
        <div class="form-div">
            <form action="">
                <div class="inputs">

                <input type="email" placeholder="Email address">
                <input type="password" placeholder="Password">
                </div>
                <p>Forgot your password?</p>
                <div class="btn">
                    <input type="submit" value="Sign In">

                </div>

            </form>
        </div>
        <div class="signup-div">
            <h5>Don't have an account?<span>Signup Now</span></h5>
        </div>
    </div>
</div>