<link rel="stylesheet" href="/stylesheets/policies.css">

<div class="policyParentDiv">
    <div class="">

    <div class="heading">
        <h5>Privacy Policy</h5>
    </div>
    <div class="content">
        <p>The Privacy Policy sets out how basically. uses and protects any information that you give thebasically.in when you use this website.</p>
        <h5 class="subheading" style="margin-top: 1em;">thebasically.in is committed ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will be used in accordance with this privacy statement.</h5>
    </div>
    </div>
    <div class="para">
        <h5 class="subheading">
            What we collect?
        </h5>
        <div class="content">
            <p>We may collect the following information:</p>
            <ul>
                <li>Name</li>
                <li>Contact information including email address & Phone number</li>
                <li>Demograhic information such as postcode, preferences and interests.</li>
            </ul>
            
        </div>
    </div>
    <div class="para">
        <h5 class="subheading">
            What we do with the information we gather 
        </h5>
        <div class="content">
            <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
            <ul>
                <li>Internal record keeping</li>
                <li>We may use the information to improve our products and services.</li>
                <li>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</li>
                <li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the website according to your interests.</li>
            </ul>
        </div>
    </div>
    <div class="para">
        <h5 class="subheading">
            Security
        </h5>
        <div class="content">
            <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online. </p>
            
        </div>
    </div>
    <div class="para">
        <h5 class="subheading">
            Controlling your personal information
        </h5>
        <div class="content">
            <p>You may choose to restrict the collection or use of your personal information in the following ways:</p>
            <ul>
                <li>whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes.</li>
                <li>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.</li>
            </ul>      
        </div>
    </div>
</div>