<link rel="stylesheet" href="/stylesheets/product-page.css">


<div class="productParentDiv">
     <div class="product-category-details">
      <h5>Home / Men / The Premium Weight Crew</h5>
     </div>
     <div class="sticky-btn">
     <div class="add-to">
      <button disabled>Add to cart</button>
     </div>
   </div>
  <div class="products" id="products">
    <div class="mob-carousel-section">
    <div class="mob-carousel">
       <ul class="slides" id="slides" onscroll="showMoreImages(this)" data-carousel-items>
        <div class="ellipsis">
          <button class="ellipsis-btn active-ellipse"><i class="fa-solid fa-circle"></i></button>
          <button class="ellipsis-btn"><i class="fa-solid fa-circle"></i></button>
          <button class="ellipsis-btn"><i class="fa-solid fa-circle"></i></button>
          <button class="ellipsis-btn"><i class="fa-solid fa-circle"></i></button>
          <button class="ellipsis-btn"><i class="fa-solid fa-circle"></i></button>
          <button class="ellipsis-btn"><i class="fa-solid fa-circle"></i></button>
        </div>
        <li class="slides-res">

        <img src="/images/french home.jpg" alt="">
        </li>
        <li class="slides-res">

        <img src="/images/french home.jpg" alt="">
        </li>
        <li class="slides-res">

        <img src="/images/french home.jpg" alt="">
        </li>
        <li class="slides-res">

        <img src="/images/french home.jpg" alt="">
        </li>
        <li class="slides-res">

        <img src="/images/french home.jpg" alt="">
        </li>
        <li class="slides-res">

        <img src="/images/french home.jpg" alt="">
        </li>
       </ul>
    </div>
    </div>
  <div class="des-pro-image">
    <div class="pro-images" id="pro-images" tabindex="1">
      <div class="end-img">
        <img src="/images/white-premium.jpg" alt="">
      </div>
      <div class="mid-rows">
      <div class="mid-img">
        <img src="/images/white-premium.jpg" alt="">
      </div>
      <div class="mid-img">
        <img src="/images/white-premium.jpg" alt="">
      </div>
      
      </div>
      <div class="mid-rows">
      <div class="mid-img">
        <img src="/images/white-premium.jpg" alt="">
      </div>
      <div class="mid-img">
        <img src="/images/white-premium.jpg" alt="">
      </div>
      
      </div>
      <div class="end-img">
        <img src="/images/white-premium.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="pro-details">
    <h3 class="name">The Premium Weight Crew</h3>
    <h4 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span>855</span></h4>
     <div class="color-div">
      <div class="color-text">
      <h4 class="pro-color">Color <span>| White</span></h4>
      </div>
      <div class="colors">

        <div class="buttons">

      <button class="" ><i class="fa-solid fa-circle" style="color: #000;"></i></button>
      <button class="" data-selected><i class="fa-solid fa-circle" style="color: #f5f5f5;"></i></button>
      <button class=""><i class="fa-solid fa-circle" style="color: #fbf9df;"></i></button>
      <button class=""><i class="fa-solid fa-circle" style="color: #06458d;"></i></button>
      <button class=""><i class="fa-solid fa-circle" style="color: #087f73;"></i></button>
        </div>
      </div>
     </div>
    <div class="size-section">
      <a href="">Size Chart</a>
      <div class="size-div">
        <div class="size-text">
          <h5>Size</h5>
        </div>
        <div class="sizes">
          <div class="button-group">
            <button name="size" value="XS">XS</button>
            <button name="size" value="S">S</button>
            <button name="size" value="M">M</button>
            <button name="size" value="L">L</button>
            <button name="size" value="XL">XL</button>
            <button name="size" value="XL">XL</button>
            <button name="size" value="XL">XL</button>
          </div>
        </div>
      </div>
    </div>
    <div class="add-to">
      <button disabled>Add to cart</button>
    </div>
  </div>
</div>
  <div class="product-details">

   <h5>PRODUCT DETAILS</h5>

   <div class="details-div">
    <div class="about-product">
      <div class="options">
        <div class="option" style="margin-left: 0;">
          <h5 id="description" class="activeDetails" onclick="changeDetailsOptions(this)">DESCRIPTION</h5>
        </div>
        <div class="option">
          <h5 id="details" onclick="changeDetailsOptions(this)" >DETAILS</h5>
        </div>
        <div class="option">
          <h5 id="size" onclick="changeDetailsOptions(this)">SIZE & FIT</h5>
        </div>
      </div>
      <div class="details-options-div activeDetailsOptions"  id="descriptionsDiv">
        <div class="option-details">

        <h5 class="subheadings">LUXURY</h5>
        <p class="subdetails">An understated sweatshirt is the ultimate contemporary essential. Our luxurious rendition of this classic American varsity sweatshirt is versatile and timeless. Handmade in Portugal from an exceptionally soft 400gsm loopback French Terry fabric.</p>
        </div>
        <div class="option-details">

        <h5 class="subheadings">Quality</h5>
        <p class="subdetails">We have elevated this wardrobe staple to new heights due to our custom-developed fabric, crafted from 100% fine Combed Cotton. By removing impurities and straightening its fibres during the combing process, we made sure the Perfect Sweatshirt is not just significantly softer but also more durable than its rivals.</p>
        </div>
        <div class="option-details">

        <h5 class="subheadings">Design</h5>
        <p class="subdetails">Having originally been developed for sports garments, the loops on the back of the fabric are designed to absorb moisture, passing it into the garment to keep you cool. Conversely – during colder weather – our loopback fabric is designed to trap warm air inside, providing an insulating layer for day-to-day wear.</p>
        </div>
      </div>
      <div class="details-options-div " id="detailsDiv">
        <div class="option-details">

        <h5 class="subheadings">material</h5>
        <ul>
          <li>Material: 100% Combed Organic Cotton</li>
          <li>Fabric: 400gsm French Terry</li>
          <li>Knit: 22GG</li>
        </ul>
        </div>
        <div class="option-details">

        <h5 class="subheadings">Country of Origin</h5>
        <ul>
          <li>Zip: made in Portugal by YKK</li>
          <li>Fabric: knitted by our  Cotton Experts in Portugal</li>
          <li>Garment: made in our  Sweatshirt Factory in Portugal</li>
        </ul>
        </div>
        <div class="option-details">

        <h5 class="subheadings">Carbon footprint</h5>
        <ul>
          <li>CO2 emissions caused by production: 6.2kg</li>
          <li>Carbon offset: 100%</li>
          <li>Project: Forest protection</li>
        </ul>
        </div>
      </div>
      <div class="details-options-div" id="sizeDiv">
        <div class="option-details">

        <h5 class="subheadings">fit</h5>
        <ul>
          <li>Cut for a straight fit</li>
          <li>Set-in & fitted sleeves</li>
          <li>Fits true to size / Pre-washed</li>
        </ul>
        </div>
        <div class="option-details">

        <h5 class="subheadings">sizes</h5>
        <ul>
          <li>Offered in our optimised sizing system</li>
          <li>Available widths: XS-3XL</li>
          <li>Available lengths: Shorter, Regular, Longer</li>
          <li>When in doubt, send us an email: fit@sanvt.com</li>
        </ul>
        </div>
        <div class="option-details">

        <h5 class="subheadings">model</h5>
        <ul>
          <li>Model wears: L Regular</li>
          <li>Model’s height: 187cm / 6’1″</li>
          <li>Model’s chest 97cm / 38″</li>
        </ul>
        </div>
      </div>
    </div>
      <div class="image-div">
        <img src="/images/white-premium.jpg" alt="">

      </div>
   </div>
  </div>
  <div class="clothing">
     <img src="/images/worlds-finest-cotton.jpg" alt="">
     <div class="description">
       <h5 class="heading">WORLD'S FINEST COTTON</h5>
       <p class="text">Not all cotton is born equal. All our t-shirts are crafted from American grown SUPIMA cotton of the highest grade and quality. Picked for its long staple fiber, the cotton is spun with our signature knit into a smooth yet strong yarn which lends durability to the finished garment and prevents piling.</p>
       <div class="to-link">

         <a href="">READ MORE</a>
       </div>
      </div>
    </div>
  <div class="our-ethics-section">
     <h5>Our Ethics</h5>
     <div class="item-grids">
        <div class="item-grid">
          <img src="/images/slim-fashion-abt.jpg" alt="">
          <div class="item-description">
            <h5 class="sub-heading">Slow Fashion</h5>
            <p class="ethics-description">We produce in small batches with the finest materials to make them last longer</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="item-grid">
          <img src="/images/slim-fashion-abt.jpg" alt="">
          <div class="item-description">
            <h5 class="sub-heading">Transparency</h5>
            <p class="ethics-description">We only work with small factories that share our ethics of fair wages and high labour standards</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="item-grid">
          <img src="/images/slim-fashion-abt.jpg" alt="">
          <div class="item-description">
            <h5 class="sub-heading">Superior quality</h5>
            <p class="ethics-description">We only use the world's finest fabrics.Our basics stay fit and more comfortable than your typical t-shirt</p>
            <a href="">Read More</a>
          </div>
        </div>

     </div>
  </div>
  
  <div class="basicallies-section">
    <h5 class="heading">People Wearing basically. <br> #basicallies</h5>
    <div class="basicallies-grids" id="grid-items">
      <button class="grid-btns nextBtn" onclick="showMoreBasicallies(this)"><i class="fa-solid fa-chevron-right"></i></button>
      <button class="grid-btns prevBtn" id="basic-prev-btn" onclick="showLessBasicallies(this)"><i class="fa-solid fa-chevron-left"></i></button>
      <div class="basicallies">
        <img src="/images/french home.jpg" alt="">
      </div>
      <div class="basicallies">
        <img src="/images/french home.jpg" alt="">
      </div>
      <div class="basicallies">
        <img src="/images/french home.jpg" alt="">
      </div>
      <div class="basicallies">
        <img src="/images/french home.jpg" alt="">
      </div>
      <div class="basicallies">
        <img src="/images/french home.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/carousel.js"></script>