<link rel="stylesheet" href="/stylesheets/policies.css">

<div class="policyParentDiv">
    <div class="">

    <div class="heading">
        <h5>Shipping Policy</h5>
    </div>
    <div class="content">
        <p>thebasically.in is committed to deliver your order in good quality within a given time frame. We ship throughout the week, except Sunday & Public holidays. To ensure that your order reaches you in good condition, in the shortest span of time, we ship through reputed courier agencies only. If there is no courier service available in your area, we will ship your items via Government Registered Book-post or Speed-post.</p>
    </div>
    </div>
    <div class="para">
        <h5 class="subheading">
            How is the Delivery charge calculated for multiple units?
        </h5>
        <div class="content">
            <p>We are currently offering FREE SHIPPING on all PREPAID orders. The COD Orders will attract a fixed Shipping charge of Rs 29. Our prices are all inclusive. All taxes are included with the list prices.</p>
            
        </div>
    </div>
    <div class="para">
        <h5 class="subheading">
            How long does it take for an order to arrive?
        </h5>
        <div class="content">
            <p>The order usually takes 2-5 working days to reach all the metros and tier I cities, however for some pin codes it might take a little more time.</p>
            
        </div>
    </div>
    <div class="para">
        <h5 class="subheading">
            Order Tracking
        </h5>
        <div class="content">
            <p>You'll receive a tracking number from us in your inbox as SMS and E-mail soon as it ships! </p>
            
        </div>
    </div>
    <div class="para">
        <h5 class="subheading">
            What if the product is received in damaged condition?
        </h5>
        <div class="content">
            <p>If you think, you have received the product in a bad condition or if the packaging is tampered with or damaged before delivery, please refuse to accept the package and return the package to the delivery person. Also, please call our customer care at 7594842304 or email us at support@thebasically.in mentioning your Order ID and Customer Name. We will personally ensure that a new replacement is issued to you. Please make sure that the original product tag and packing is intact when you send us the product back.</p>
            
        </div>
    </div>
</div>