<link rel="stylesheet" href="/stylesheets/login.css">


<div class="loginParentDiv">
    <div class="loginDiv">
        <div class="header">
            <div class="logo">
                <h2><a href="/" class="link">basic<span>ally</span>.</a></h2>
            </div>

        </div>
        <div class="form-div">
            <form action="/signup" method="post">
                <div class="inputs">
                 <div class="name-inputs">
 
                  <input type="text" name="fname" placeholder="First Name" required>
                  <input type="text" name="lname" placeholder="Last Name" required>
                 </div>
                {{#if emailUsed}}
                <input type="email" name="email" placeholder="Email address" style="border: 1px solid rgb(245, 54, 54);color:1px solid rgb(245, 54, 54) ;margin-bottom: .5em;" required>
                <p class="danger-text">Email already used</p>
                {{else}}
                <input type="email" name="email" placeholder="Email address" required>
                {{/if}}
                <input type="password" name="password" placeholder="Password" minlength="8" required>
                </div>
                <div class="btn">
                    <input type="submit" value="Sign Up">

                </div>

            </form>
        </div>
        <div class="signup-div">
            <h5>Already have an account?<a href="/login">Login now</a></h5>
        </div>
    </div>
</div>