<link rel="stylesheet" href="/stylesheets/policies.css">

<div class="policyParentDiv">
    <div class="">

    <div class="heading">
        <h5>Terms & Conditions</h5>
    </div>
    <div class="content">
        <p>The Website Owner, including subsidiaries and affiliates (“thebasically.in” or “basically.” or “we” or “us” or “our”) provides the information contained on the website or any of the pages comprising the website (“website”) to visitors (“visitors”) (cumulatively referred to as “you” or “your” hereinafter) subject to the terms and conditions set out in these website terms and conditions, the privacy policy and any other relevant terms and conditions, policies and notices which may be applicable to a specific section or module of the website.</p>
    </div>
    </div>
    <div class="small-para">
        <div class="content">
            <p style="text-align: center;">Welcome to basically. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern basically's relationship with you in relation to this website.</p>
            
            
        </div>
    </div>
    