<!DOCTYPE html>
<html lang="html5">
  <head>
    <title>basically. | Better Basics</title>
    
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/responsive.css' />
    <link rel="stylesheet" href="/icons/Line_awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/icons/fontawesome-free-6.4.0-web/css/all.min.css">
    <link href="https://api.fontshare.com/v2/css?f[]=beVietnam-pro@400,101,600,700,300,100,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600&display=swap" rel="stylesheet">
    
  </head>
  <body>
    {{#if clientPage}}
    {{>user-header}}
    {{else}}
    {{#if adminPage}}
    {{>admin-header}}
    {{/if}}
    {{/if}}
    
     <div class="parentDiv" id="parentDiv">
    {{{body}}}
    </div>
    {{>footer}}
  </body>
</html>
 
<script src="/javascripts/main.js"></script>
<script src="/javascripts/hoverEffects.js"></script>

