<!DOCTYPE html>
<html>
  <head>
    <title>| basically.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/responsive.css' />
    <link rel="stylesheet" href="/icons/Line_awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/icons/fontawesome-free-6.4.0-web/css/all.min.css">
    <link href="https://api.fontshare.com/v2/css?f[]=beVietnam-pro@400,101,600,700,300,100,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    {{#if clientPage}}
    {{>user-header}}
    <div class="chat-widget" id="chat-wid">
      <button id="chatBtn" onclick="chatBtnClicked()" class="chat-btn"><i class="las la-comment"></i> <span class="chat-txt">Let's Chat</span></button>
      <div class="chat" id="chatPopup">
        <div class="header">
          <h2>basically</h2>
          <span class="dot">&#8226;</span>
          <h3><span class="text">We'll reply as soon as we can</span></h3>
          <span class="icon" onclick="chatCloseBtnClicked()" id="closeBtn"><i class="las la-times"></i></span>
        </div>
        <div class="messages"></div>
        <div class="input">
          <form action="">
            <div class="input">
            <input type="text" placeholder="Type Your Message...">
            <button class="emoji"><i class="las la-smile"></i></button>
            <button class="send" type="submit"><i class="las la-paper-plane"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {{else}}
    {{#if adminPage}}
    {{>admin-header}}
    {{/if}}
    {{/if}}
    
     <div class="parentDiv" id="parentDiv">
    {{{body}}}
    </div>
    {{>footer}}
  </body>
</html>

<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/hoverEffects.js"></script>

